parameters:
    level: 8
    paths:
        - src
        - tests
    phpVersion: 80100
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '#Property class@anonymous.* is never read, only written#'
          path: tests/
